body {
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    color: blue;
}

button {
    margin: 20px;
    padding: 40px 20px;
    font-size: 18px;
    background-color: green;
    border: solid;
    cursor: pointer;
}

#score {
    margin-top: 40px;
    font-size: 18px;
}
